@model InventorAccessPortal.Web.Models.Account.RegisterModel
@using InventorAccessPortal.Web.Models.Account
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Register</h1>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <table>
            <tr>
                <td>Username:</td>
                <td>@Html.TextBoxFor(p => p.Username)</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Html.TextBoxFor(p => p.Email)</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.PasswordFor(p => p.Password, new { value = Model.Password, @class = "verifyThisPassword", data_verifier = "#passwordVerification" })</td>
            </tr>
            <tr>
                <td>Re-enter Password:</td>
                <td>@Html.PasswordFor(p => p.PasswordVerify, new { value = Model.PasswordVerify, id = "passwordVerification" })</td>
            </tr>
        </table>
        <input type="submit" value="Register" />
    </div>
    @Html.Partial("~/Views/Shared/_IgnoreFormWarnings.cshtml")
    @Scripts.Render("~/bundles/account/scripts")
}

