@model InventorAccessPortal.Web.Mailer.Models.ResetPassword.DataModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Reset Password</h1>
@using (Html.BeginForm("ActualResetPassword", "ResetPassword", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.Guid)
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
            <span class="font-weight-bold">@Model.Email</span>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-10">
            @Html.PasswordFor(p => p.Password, new { value = Model.Password, id = "password", @class = "verifyThisPassword", data_verifier = "#passwordVerification", data_verify_disable = "#submitReset" })
            <div class="form-text text-muted">
                <small>Passwords length must be 16-255 characters</small>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="passwordVerification" class="col-sm-2 col-form-label">Verify Password:</label>
        <div class="col-sm-10">
            @Html.PasswordFor(p => p.PasswordVerify, new { value = Model.PasswordVerify, id = "passwordVerification" })
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Reset Password" id="submitReset" />
    @Html.Partial("~/Views/Shared/_IgnoreFormWarnings.cshtml")
    @Scripts.Render("~/bundles/account/scripts")
}
