@model InventorAccessPortal.Web.Models.Home.FamiliesModel.Form
@{
    ViewBag.Title = "Families Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>All Families @Model.ExtendedTitle</h1>
<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Family Number</th>
            <th>Family Name</th>
            <th>Related</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
         {
            foreach (var family in Model.Families)
            {
            <tr>
                <td>@family.Status</td>
                <td>@family.FamilyNum</td>
                <td>@family.FamilyName</td>
                <td class="text-center table-link">
                    <a href="@(Url.Action("FilesForm", "Home", new { familyNumber = family.FamilyNum, extendedTitle = family.FamilyName  }))">
                        <span class="fa fa-share"></span> 
                        Related Files
                    </a>
                </td>
            </tr>
            }
         }
    </tbody>
</table>
