@model InventorAccessPortal.Web.Models.Home.FilesModel.Form
@{
    ViewBag.Title = "Files Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Files</h1>
<div>
    <table>
        <tr>
            <th>Status</th>
            <th>File Number</th>
            <th>File Name</th>
            <th>Serial Number</th>
            <th>Continuity</th>
            <th>Law Firm</th>
            <th>Project Number</th>
        </tr>
        @if (Model != null)
        {
            foreach (var file in Model.Files)
            {
                <tr>
                    <td>@file.Status</td>
                    <td>@file.FileNum</td>
                    <td>@file.FileName</td>
                    <td>@file.SerialNum</td>
                    <td>@file.Continuity</td>
                    <td>@file.LawFirm</td>
                    <td>@file.ProjectNum</td>
                </tr>
            }
        }
    </table>
    @Html.ActionLink("File Report Template", "File", "Reports")
</div>


