@model InventorAccessPortal.Web.Models.Home.FilesModel.Form
@{
    ViewBag.Title = "Files Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Files @Model.ExtendedTitle</h1>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>Status</th>
            <th>File Number</th>
            <th>File Name</th>
            <th>Serial Number</th>
            <th>Continuity</th>
            <th>Law Firm</th>
            <th>Project Number</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var file in Model.Files)
            {
                <tr onclick="location.href = '@(Url.Action("RecentActivities", "Home", new { fileNumber = file.FileNum, extendedTitle = file.FileName }))'">
                    <td>@file.Status</td>
                    <td>@file.FileNum</td>
                    <td>@file.FileName</td>
                    <td>@file.SerialNum</td>
                    <td>@file.Continuity</td>
                    <td>@file.LawFirm</td>
                    <td>@file.ProjectNum</td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.ActionLink("File Report Template", "File", "Reports")


