@model InventorAccessPortal.Web.Models.Home.InventionsModel.Form
@{
    ViewBag.Title = "Inventions Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Inventions @Model.ExtendedTitle</h1>
<table class="table table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>Status</th>
            <th>Project Number</th>
            <th>Project Title</th>
            <th>Related</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var invention in Model.Inventions)
            {
                <tr>
                    <td>@invention.Status</td>
                    <td>@invention.ProjectNumber</td>
                    <td>@invention.ProjectTitle</td>
                    <td class="text-center table-link">
                        <a href="@(Url.Action("RecentActivities", "Home", new { projectNumber = invention.ProjectNumber, extendedTitle = invention.ProjectTitle  }))">
                            <span class="fa fa-share"></span>
                            Related Activites
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.ActionLink("Project Form Template", "Project", "Reports")
